.tariffs-list {
  @include list-reset();
  display: flex;
  flex-direction: column;
}

.tariffs-list__item {
  cursor: pointer;
}

.tariffs-list__link {
  display: block;
  padding: 140px 30px 15px 30px;

  border-radius: 5px;

  &:hover,
  &:focus {
    background-color: $light-grey;
    outline: none;
  }

  & h3::before {
    position: absolute;
    content: "";
    top: -105px;
    left: 50%;

    margin-left: -42px;
    width: 85px;
    height: 85px;

    background-repeat: no-repeat;
    background-size: 85px;
  }

  &[data-name="tv"] h3::before {
    background-image: url("/img/monitor.svg");
  }

  &[data-name="desktop"] h3::before {
    background-image: url("/img/laptop.svg");
  }

  &[data-name="mobile"] h3::before {
    background-image: url("/img/device.svg");
  }
}

.tariffs-list__header {
  position: relative;

  margin: 0 0 30px 0;

  font-size: 22px;
  font-weight: 500;
  letter-spacing: 2.5px;
  color: $dark-blue;
  text-align: center;
  text-transform: uppercase;
}

.tariffs-list__description {
  margin: 0 0 20px 0;

  font-size: 14px;
  line-height: 18px;
  color: $grey;
  text-align: center;
}

@media (min-width: $tablet-width) {
  .tariffs-list {
    flex-direction: row;
    justify-content: space-between;
  }

  .tariffs-list__item {
    min-width: 270px;

    &:first-child {
      order: 3;
    }

    &:nth-child(2) {
      order: 2;
    }

    &:nth-child(3) {
      order: 1;
    }
  }

  .tariffs-list__link {
    padding: 170px 30px 15px 30px;

    & h3::before {
      top: -120px;
    }
  }

  .tariffs-list__header {
    margin: 0 0 20px 0;
  }
}

@media (min-width: $desktop-width) {
  .tariffs-list__description {
    font-size: 16px;
  }
}
